.foto-logo{
	width: 20%;
    height: 20%;
}

.foto-cuarto{
	width: 100%;
}

.ui-popup-container, .ui-popup {
    height: auto;
    width: 95%;
    position: absolute;
    top: 30px !important;
    left:0;
}

.ui-popup-screen.in{
	background: black;
	opacity: 0.7 !important;
}